<%= render 'shared/error_messages', object: f.object %>
<div class="row">
	<div class="3u 12u(mobilep)">
		<%= f.label :name, "职位名" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="3u 12u(mobilep)">
		<%= f.label :bonus, "入职金（千）" %>
		<%= f.text_field :bonus, class: "form-control" %>
	</div>
	
	<div class="3u 12u(mobilep)">
		<%= f.label :salary_bottom, "最低薪水（万）" %>
		<%= f.text_field :salary_bottom, class: "form-control" %>
	</div>
	
	<div class="3u 12u(mobilep)">
		<%= f.label :salary_top, "最高薪水（万）" %>
		<%= f.text_field :salary_top, class: "form-control" %>
	</div>
</div>

<div class="row">
	<div class="3u 12u(mobilep)">
		<%= f.label :city, "城市" %>
		<%= f.select :city, ['上海', '北京', '深圳', '广州'], class: "form-control" %>
	</div>
	<div class="3u 12u(mobilep)">
		<%= f.label :district, "区域" %>
		<%= f.select :district, ['黄浦区', '浦东新区', '徐汇区', '长宁区', '静安区', '普陀区', '闸北区', '虹口区', '杨浦区', '闵行区', '宝山区', '嘉定区', '金山区', '松江区', '青浦区', '奉贤区', '崇明县'], class: "form-control" %>
	</div>
	<div class="6u 12u(mobilep)">
		<%= f.label :address, "地址" %>
		<%= f.text_field :address, class: "form-control" %>
	</div>
</div>

<div class="row">
	<div class="3u 12u(mobilep)">
		<%= f.label :department, "部门" %>
		<%= f.text_field :department, class: "form-control" %>
	</div>

	<div class="3u 12u(mobilep)">
		<%= f.label :report_to, "汇报对象" %>
		<%= f.text_field :report_to, class: "form-control" %>
	</div>
	
	<div class="3u 12u(mobilep)">
		<%= f.label :education, "学历" %>
		<%= f.select :education, ['学历不限', '初中及以上', '高中及以上', '大专及以上', '本科及以上', '研究生及以上', '博士及以上'], class: "form-control" %>
	</div>
	
	<div class="3u 12u(mobilep)">
		<%= f.label :experience, "工作经验" %>
		<%= f.select :experience, ['经验不限', '1年以上', '3年以上', '5年以上', '8年以上', '15年以上'], class: "form-control" %>
	</div>
</div>

<div class="row">
	<div class="3u 12u(mobilep)">
		<%= f.label :age_top, "年龄上限（0代表无上限）" %>
		<%= f.text_field :age_top, value: '0', class: "form-control" %>
	</div>

	<div class="3u 12u(mobilep)">
		<%= f.label :age_bottom, "年龄下限（0代表无下限）" %>
		<%= f.text_field :age_bottom, value: '0', class: "form-control" %>
	</div>
	
	<div class="3u 12u(mobilep)">
		<%= f.label :demanding, "需要人数" %>
		<%= f.text_field :demanding, class: "form-control" %>
	</div>
	
	<div class="3u 12u(mobilep)">
		<%= f.label :consultant, "负责顾问" %>
		<%= f.select :consultant, ['Lisa'], class: "form-control" %>
	</div>
</div>

	<%= f.label :keyword, "关键词（关键词用空格分隔）" %>
	<%= f.text_field :keyword, class: "form-control" %>



<!-- <%= f.label :recommended, "推荐人数" %>
<%= f.text_field :recommended, value: "0", class: "form-control" %>

<%= f.label :interviewee, "面试人数" %>
<%= f.text_field :interviewee, value: "0", class: "form-control" %>

<%= f.label :entry, "已入职人数" %>
<%= f.text_field :entry, value: "0", class: "form-control" %> -->

<%= f.label :responsibility, "岗位职责" %>
<%= f.text_area :responsibility, class: "form-control" %>

<%= f.label :requirement, "任职要求" %>
<%= f.text_area :requirement, class: "form-control" %>



<!-- <%= f.label :status, "岗位状态" %>
<%= f.select :status, ['打开', '暂停', '关闭'], class: "form-control" %> -->

<%= f.submit "确定", class: "button" %>