<% @tab_title = "职位详情" %>
<% @company = @position.company %>
<% @share_title = @position.name %>
<!-- <% @share_desc = @position.responsibility %> -->

<section id="main" class="container">
	<header>
		<h2><%= @position.name %></h2>
		<p><%= @position.updated_at.to_date %> | <b>入职金 <%= @position.bonus %> K</b></p>
		<% if logged_in? && current_user.name == @position.consultant %>
			<br><br>
			<%= link_to "编辑", edit_position_path(@position), class: 'button small' %>
			<!-- <%= link_to "删除", @company, method: :delete, data: { confirm: "确定删除 " + @company.realname }, class: "button small" %> -->
		<% end %>
	</header>
	<div class="box p_detail box_padding">
		<div class="row">
			<div class="7u 12u(narrower) p_content">
				<div id="status">
					<table class="">
						<tr>
							<td><%= @position.recommended %> 推荐</td>
							<td><%= @position.interviewee %> 面试</td>
							<td><%= @position.entry %> 入职</td>
							<td><%= @position.remaining %> 空岗</td>
						</tr> 
					</table>
				</div>
				<div id="basic_info">
					<!-- <b>基本信息</b><br> -->
					<p><span class="icon fa-rmb p_icon"></span><%= @position.salary_bottom %> - <%= @position.salary_top %>万</p>
					<!-- <p><span class="icon fa-money p_icon_spec"></span>入职金 <span class="icon fa-angle-right"></span> <%= @position.bonus %> K</p> -->
					<p><span class="icon fa-map-marker p_icon"></span><%= @position.city + @position.address %></p>
					<p><span class="icon fa-sitemap p_icon_spec"></span><%= @position.department %> |
					汇报 <span class="icon fa-angle-right"></span> <%= @position.report_to %></p>
					<p><span class="icon fa-graduation-cap p_icon_spec1"></span><%= @position.education %></p>
					<p><span class="icon fa-clock-o p_icon_spec2"></span><%= @position.experience %><%= '工作经验' unless @position.experience=="经验不限" %></p>
					<p><span class="icon fa-tags p_icon_spec"></span><% @position.keyword.split(' ').each do |k| %><span class='keyword'><%= k %></span><% end %></p>
				</div>					
				<div id="detail_info" class="box box_padding">
					<p class="p_title">岗位职责</p>
					<%= simple_format(@position.responsibility) %>
					<p class="icon fa-hand-o-down icon_center"></p>
					<p class="p_title">任职要求</p>
					<%= simple_format(@position.requirement) %>
				</div>
				<div id="recommend_form" class="form">
					<div id='recommendation_list'>
						<!-- <%= @position.recommendations.class %> -->
						<%= render 'recommendations/recommend_list', position: @position %>
					</div>
					<!-- <a href="#" class="button special">我要推荐</a> -->
					<%= link_to '我要推荐',"javascript:void(0)" , class: 'button special', id: 'recommending' %>
					<div id='recommendation_form'>
						<%= render '/recommendations/recommend_form', recommendation: @recommendation, position: @position %>
						<div id="error_show">
						</div>
					</div>
					<!-- <%= @recommender.inspect %> -->
				</div>
			</div>		
			<div class="5u 12u(narrower) p_aside">
				<div id="p_company" class="box_padding">
					<p class="p_title"><%= link_to @company.name, company_path(@company) %></p>
					<!-- <p><%= link_to "XXXXXXX公司", 'companies/1' %><p> -->
					<p>公司规模： <%= @company.scale %></p>
					<p>公司性质： <%= @company.property %></p>
					<p>工作节奏： <%= @company.worktime %></p>
					<!-- <p class="p_title">公司简介：</p> -->
					<p><%= @company.introduction[0..100] + " . . ." %>
					<!-- <%= link_to "公司详情", company_path(@company), class: "button" %> --></p>
				</div>
				
				<div id="maptool"></div>
				<div id="driving_way">
					<input type="text" name="start_point"  id="start_point" placeholder="输入起点可查询到该公司的路线">
					<input type="button" id="transit_result" value="公交路线"/>
					<input type="button" id="driving_result" value="驾车路线"/>
				</div>
				<div id="r-result"></div>
					
			</div>
		</div>
	</div>
</section>
<!-- <script type='text/javascript' src='http://api.map.baidu.com/api?v=2.0&ak=fCbQrRfCxwoNGniE995RWGdu'></script> -->


<%= javascript_tag do %>
	<% position ||= @position %>
  	position = <%=raw position.to_json %>;
<% end %>


<%= javascript_include_tag 'map', 'data-turbolinks-track' => true %>

<script>
	$("#start_point").focus(function(){
		$("#start_point").attr("placeholder", "");
	});
	$("#start_point").blur(function(){
		$("#start_point").attr("placeholder", "输入起点可查询到该公司的路线");
	});
	$("#recommending").click(function(){
		$("#recommendation_form").show()
		$("#recommending").hide()
	});
</script>
