<% @tab_title = "职位详情" %>


				<section id="main" class="container">
					<header>
						<h2><%= @position.name %></h2>
						<p><%= @position.created_at.to_date %></p>
					</header>
					<div class="box p_detail box_padding">
						<div class="row">
							<div class="7u 12u(mobilep) p_content">
								<div id="status">
									<table class="">
										<tr>
											<td><%= @position.recommended %> 推荐</td>
											<td><%= @position.interviewee %> 面试</td>
											<td><%= @position.entry %> 入职</td>
											<td><%= @position.remaining %> 空岗</td>
										</tr> 
									</table>
								</div>
								<div id="basic_info">
									<!-- <b>基本信息</b><br> -->
									<p><span class="icon fa-rmb p_icon"></span><%= @position.salary_bottom %> - <%= @position.salary_top %>万</p>
									<p><span class="icon fa-map-marker p_icon"></span><%= @position.address %></p>
									<p><span class="icon fa-sitemap p_icon_spec"></span><%= @position.department %> |
									汇报 <span class="icon fa-angle-right"></span> <%= @position.report_to %></p>
									<p><span class="icon fa-graduation-cap p_icon_spec1"></span><%= @position.education %></p>
									<p><span class="icon fa-clock-o p_icon_spec2"></span><%= @position.experience %>工作经验</p>
									<p><span class="icon fa-tags p_icon_spec"></span><% @position.keyword.split(' ').each do |k| %><span class='keyword'><%= k %></span><% end %></p>
								</div>
									
								<div id="detail_info" class="box box_padding">
									<p class="p_title">岗位职责</p>
									<%= simple_format(@position.responsibility) %>
										<!-- 1、公司核心管理人员，公司产品技术负责人；<br>
										2、掌握业界主流技术方向，组织制定和实施重大技术决策和技术方案，制定技术发展战略、规划发展方向；<br>
										3、提出产品开发计划，组织实施；<br>
										4、进行技术难题的攻关和预研；<br>
										5、拟定团队的工作目标并监督实施；<br>
										6、团队管理、指导学习、提升团队技术水平。 -->
									
									<p class="icon fa-arrow-down icon_center"></p>
									
									<p class="p_title">任职要求</p>
									<%= simple_format(@position.requirement) %>
										<!-- 1、本科及以上学历，7年以上工作经验，5年以上互联网行业从业经验，2年以上项目实施和管理经验；<br>
										2、开发过过大型后台服务器系统(php或Java)和移动app系统(ios、安卓)，熟练动手写程序并已成功上线；<br>
										3、熟悉主流php开发框架，具备架构设计的经验；<br>
										4、充满激情，热爱技术，目前还会自己写代码；<br>
										5、移动互联网行业有深刻了解，较强的学习和运用新技术的能力；<br>
										6、具有良好的团队合作精神，有较强的责任心，具备一定的项目管理能力，愿意参与创业。 -->
								</div>
								
								<div id="recommend_history" class="box box_padding">
									<p class="p_title">推荐历史</p>
									<span>9.25 X 先生/女士 推荐 Y 先生／女士</span><br>
									<span>9.29 X 先生/女士 推荐 Y 先生／女士</span><br>
									<span>10.1 X 先生/女士 推荐 Y 先生／女士</span><br>
									<a href="#" class="icon fa-plus-square"> 查看更多</a>
								</div>
								
								<div id="recommend_form" class="form">
									<a href="#" class="button special">我要推荐</a>
								</div>
								
								<!-- <div id="p_company" class="box box_padding">
									<p class="p_title">公司信息</p>
									<span>公司人数： 30-50</span><br>
									<span>公司性质： 私营</span><br>
									<span>工作节奏： 做五休二</span><br>
									<span>公司简介： 我们为全球汉语学习者提供服务，我们致力于汉语文化的传播。公司成立于2012年，现有30人左右的创业团队，在互联网技术领域和对外汉语行业领域有着资深的背景和业界广泛关系，是中国目前唯一的全终端的对外汉语教学平台。</span>
									<a id="expand_company" class="button special icon fa-plus" href="#">展开详情</a>
									
								</div> -->
							</div>
							
							<div class="5u 12u(mobilep) p_aside">
								<div id="p_company" class="box_padding">
									<p class="p_title">XXXXXXX公司<%= link_to "公司详情", company_path(1), class: "button" %></p>
									<!-- <p><%= link_to "XXXXXXX公司", 'companies/1' %><p> -->
									<p>公司人数：30-50</p>
									<p>公司性质： 私营</p>
									<p>工作节奏： 做五休二</p>
									<!-- <p class="p_title">公司简介：</p> -->
									<p> 我们为全球汉语学习者提供服务，我们致力于汉语文化的传播。公司成立于2012年，现有30人左右的创业团队，在互联网技术领域和对外汉语行业领域有着资深的背景和业界广泛关系，是中国目前唯一的全终端的对外汉语教学平台。</p>
									<!-- <span>公司简介： 做五休二</span><br> -->
									<!-- <a id="expand_company" class="button special icon fa-plus" href="#">展开详情</a> -->
									<!-- <input type="button" id="expand_company" class="button icon fa-plus" value="展开详情"> -->
								</div>
								
								<div id="maptool"></div>
								<div id="driving_way">
									<input type="text" name="start_point"  id="start_point" placeholder="输入起点可查询到该公司的路线">
									<input type="button" id="transit_result" value="公交路线"/>
									<input type="button" id="driving_result" value="驾车路线"/>
								</div>
								<div id="r-result"></div>
									
							</div>
						</div>
					</div>
				</section>
				<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fCbQrRfCxwoNGniE995RWGdu"></script>
							<script type="text/javascript">
								// 百度地图API功能
								var map = new BMap.Map("maptool");    // 创建Map实例
								map.centerAndZoom(new BMap.Point(121.48023, 31.23634), 11);  // 初始化地图,设置中心点坐标和地图级别
								// map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
								map.setCurrentCity("上海");          // 设置地图显示的城市 此项是必须设置的
								map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
								var myGeo = new BMap.Geocoder();      
								// 将地址解析结果显示在地图上，并调整地图视野    
								myGeo.getPoint("民生路1199弄", function(point){      
						          if (point) {      
						              map.centerAndZoom(point, 14);      
						              map.addOverlay(new BMap.Marker(point));      
						          }      
								}, "上海市");
				
								// var transit = new BMap.TransitRoute(map, {
				// 				  renderOptions: {map: map, panel: "results"}
				// 				  });
				// 				transit.search("江苏路地铁站", "民生路1199弄");
								// var start = "江苏路地铁站";
								var end = "证大五道口广场";
								$("#transit_result").click(function(){
									map.clearOverlays(); 
									var start = $("#start_point").val();
									var transit = new BMap.TransitRoute(map, {renderOptions:{map: map, panel: "r-result", autoViewport: true},policy: BMAP_TRANSIT_POLICY_LEAST_TIME});
									transit.search(start,end);
								});
								$("#driving_result").click(function(){
									map.clearOverlays(); 
									var start = $("#start_point").val();
									var driving = new BMap.DrivingRoute(map, {renderOptions:{map: map, panel: "r-result", autoViewport: true},policy: BMAP_DRIVING_POLICY_LEAST_TIME});
									driving.search(start,end);
								});
							</script>
							<script>
								$("#start_point").focus(function(){
									// alert(1);
									$("#start_point").attr("placeholder", "");
								});
								$("#start_point").blur(function(){
									// alert(1);
									$("#start_point").attr("placeholder", "输入起点可查询到该公司的路线");
								});
							</script>