<%= form_for recommendation, remote: true do |f| %>
	<div class="row uniform 50%">
		<div class="6u 12u(mobilep)">
			<%= f.text_field :recommender_name, id: 'recommender_name', placeholder: '您的称呼 | 必填', required: true, oninvalid: "this.setCustomValidity('请输入您的称呼')", oninput: "setCustomValidity('')" %>
			<!-- <input type="text" name="title" id="title" placeholder="称呼 | 必填" /> -->
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.text_field :recommender_phone, id: 'recommender_phone', placeholder: '您的手机 | 必填' %>
			<!-- <input type="text" name="position" id="position" placeholder="职务 | 可选" /> -->
		</div>
			<%= f.text_field :recommendee_name, id: 'recommendee_name', placeholder: '对方姓名 | 必填', required: true, oninvalid: "this.setCustomValidity('请输入您的称呼')", oninput: "setCustomValidity('')" %>
			<!-- <input type="text" name="title" id="title" placeholder="称呼 | 必填" /> -->
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.text_field :recommendee_phone, id: 'recommendee_phone', placeholder: '对方手机 | 必填', required: true, oninvalid: "this.setCustomValidity('请输入您的电话')", oninput: "setCustomValidity('')" %>
			<!-- <input type="text" name="phone" id="phone" placeholder="电话 | 必填" /> -->
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.text_field :comment, id: 'comment', placeholder: '备注 | 可选' %>
			<!-- <input type="text" name="comment" id="comment" placeholder="备注 | 可选" /> -->
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.submit "提交", class: 'fit' %>
			<!-- <input type="submit" value="提交" class="fit" /> -->
		</div>
	</div>	
	
	<br>
	<div id="error_show">
	</div>

<% end %>
