<%= form_for(@recommendation, remote: true, onSubmit: 'return checkSubmitMobil()') do %>
	<!-- <%= hidden_field_tag :position_id, position.id %> -->
	
	<%= text_field :recommender_name, nil, id: 'recommender_name', placeholder: '您的称呼 | 必填'  %>
		<!-- required: true, oninvalid: "this.setCustomValidity('请输入您的称呼')", oninput: "setCustomValidity('')" -->

	<%= text_field_tag :recommender_phone, nil, id: 'recommender_phone', placeholder: '您的手机 | 必填' %>


	<%= text_field_tag :recommendee_name, nil, id: 'recommendee_name', placeholder: '对方姓名(也可以推荐自己哦，照样有入职金) | 必填' %>

	<%= text_field_tag :recommendee_phone, nil, id: 'recommendee_phone', placeholder: '对方手机 | 必填' %>

	<%= text_area_tag :comment, nil, id: 'comment', placeholder: '请填写推荐理由或候选人的关键词 | 必填' %>
	<!-- <div class="row">
		<div class="6u 12u(narrower)">
			<%= button_tag "取消", class: 'button fit' %>
		</div>
		<div class="6u 12u(narrower)"> -->
		
		<div id="error_show">
		</div>
		
			<%= submit_tag "提交", class: 'fit special' %>