<%= form_for customer, remote: true do |f| %>
	<div class="row uniform 50%">
		<div class="6u 12u(mobilep)">
			<%= f.text_field :name, id: 'name', placeholder: '称呼 | 必填', required: true, oninvalid: "this.setCustomValidity('请输入您的称呼')", oninput: "setCustomValidity('')" %>
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.text_field :position, id: 'position', placeholder: '职务 | 可选' %>
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.text_field :phone, id: 'phone', placeholder: '电话 | 必填', required: true, oninvalid: "this.setCustomValidity('请输入您的电话')", oninput: "setCustomValidity('')" %>
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.text_field :company, id: 'company', placeholder: '公司 | 可选' %>
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.text_field :comment, id: 'comment', placeholder: '备注 | 可选' %>
		</div>
		<div class="6u 12u(mobilep)">
			<%= f.submit "提交", class: 'fit' %>
		</div>
	</div>	
	
	<br>
	<div id="error_show">
	</div>

<% end %>

<!-- Scripts -->

<script type="text/javascript">
	$("#name").focus(function(){
		$("#name").attr("placeholder", "");
	});
	$("#name").blur(function(){
		$("#name").attr("placeholder", "称呼 | 必填");
	});	
	$("#position").focus(function(){
		$("#position").attr("placeholder", "");
	});
	$("#position").blur(function(){
		$("#position").attr("placeholder", "职位 | 可选");
	});	
	$("#phone").focus(function(){
		$("#phone").attr("placeholder", "");
	});
	$("#phone").blur(function(){
		$("#phone").attr("placeholder", "电话 | 必填");
	});
	$("#company").focus(function(){
		$("#company").attr("placeholder", "");
	});
	$("#company").blur(function(){
		$("#company").attr("placeholder", "公司 | 可选");
	});	
	$("#comment").focus(function(){
		$("#comment").attr("placeholder", "");
	});
	$("#comment").blur(function(){
		$("#comment").attr("placeholder", "备注 | 可选");
	});
	
</script>