<%= render 'shared/error_messages', object: f.object %>
<div class="row">
	<div class="6u 12u(mobilep)">
		<%= f.label :realname, "公司名（对外不显示）" %>
		<%= f.text_field :realname, class: "form-control" %>
	</div>

	<div class="6u 12u(mobilep)">
		<%= f.label :name, "显示名（对外显示）" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
</div>

<div class="row">
	<div class="2u 12u(mobilep)">
		<%= f.label :founded_at, "创建时间" %>
		<%= f.select :founded_at, (Time.zone.now.year-50..Time.zone.now.year).to_a.reverse, class: "form-control" %>
	</div>

	<div class="2u 12u(mobilep)">
		<%= f.label :property, "性质" %>
		<%= f.select :property, company_properties, class: "form-control" %>
	</div>
	<div class="2u 12u(mobilep)">
		<%= f.label :scale, "规模" %>
		<%= f.select :scale, company_scale, class: "form-control" %>
	</div>
	<div class="2u 12u(mobilep)">
		<%= f.label :stage, "融资阶段" %>
		<%= f.select :stage, company_stage, class: "form-control" %>
	</div>
	<div class="2u 12u(mobilep)">
		<%= f.label :address, "总部所在地" %>
		<%= f.text_field :address, class: "form-control" %>
	</div>
	<div class="2u 12u(mobilep)">
		<%= f.label :worktime, "工作时间" %>
		<%= f.select :worktime, worktime_list, class: "form-control" %>
	</div>
</div>

<%= f.label :keyword, "关键词（关键词用空格分隔）" %>
<%= f.text_field :keyword, class: "form-control" %>

<%= f.label :introduction, "公司介绍" %>
<%= f.text_area :introduction, class: "form-control" %>

<%= f.label :products, "产品介绍" %>
<%= f.text_area :products, class: "form-control" %>

<%= f.label :team, "团队介绍" %>
<%= f.text_area :team, class: "form-control" %>

<%= f.label :comment, "备注" %>
<%= f.text_area :comment, class: "form-control" %>


<%= f.label :logo_file, "上传logo(190*190)" %>
<%= f.file_field :logo_file, class: "form-control" %>

<%= f.submit "确定", class: "button" %>