<div class="box position_list">
	<div class="row">
		<!-- <div class="box_padding"> -->
		
			<p class="p_content"><%= link_to company.name, company_path(company) %></p>
			<p><span class="icon fa-university p_icon_spec"></span><span class="fix_width"><%= company.property %></span><span class="icon fa-users p_icon_spec"></span><%= company.scale %></p>
			<p><span class="icon fa-history p_icon_spec2"></span><span class="fix_width"><%= company.founded_at %></span><span class="icon fa-at p_icon_spec2"></span><%= company.stage %></p>
		<!-- </div> -->
		
	</div>
</div>