<% @tab_title = "公司详情" %>

<section id="main" class="container">
	<header>
		<h2><%= @company.name %></h2>
		<% if logged_in? %>
			<p><%= @company.realname %></p><br><br>
			<%= link_to "编辑", edit_company_path(@company), class: 'button small' %>
			<!-- <%= link_to "删除", @company, method: :delete, data: { confirm: "确定删除 " + @company.realname }, class: "button small" %> -->
		<% end %>
		
	</header>
	<div class="box p_detail box_padding">
		<div class="row">
			<div class="7u 12u(narrower) p_content">
				<div id="status">
					<table class="">
						<tr>
							<% remaining = 0 %>
							<% recommended = 0 %>
							<% interviewee = 0 %>
							<% entry = 0 %>
							<% @company.positions.each do |p| %>
								<% recommended += p.recommended %>
								<% interviewee += p.interviewee %>
								<% entry += p.entry %>
								<% remaining += p.remaining %>
							<% end %>
							<td><%= recommended %> 推荐</td>
							<td><%= interviewee %> 面试</td>
							<td><%= entry %> 入职</td>
							<td><%= remaining %> 空岗</td>
						</tr> 
					</table>
				</div>
				<div id="basic_info">
					<p><span class="icon fa-university p_icon_spec"></span><%= @company.property %></p>
					
					<p><span class="icon fa-users p_icon_spec"></span><%= @company.scale %></p>
					<p><span class="icon fa-map-marker p_icon"></span><%= @company.address %></p>
					<p><span class="icon fa-history p_icon_spec2"></span><%= @company.founded_at %></p>
					<p><span class="icon fa-at p_icon_spec2"></span><%= @company.stage %></p>
					<p><span class="icon fa-clock-o p_icon_spec2"></span><%= @company.worktime %></p>
					<p><span class="icon fa-tags p_icon_spec"></span><% @company.keyword.split(' ').each do |k| %><span class='keyword'><%= k %></span><% end %></p>
					
					
					<!-- <p><%= @company.keyword %></p> -->
					<!-- <p><%= @company.comment %></p> -->
				</div>
				
				<div class="box box_padding">
					<p class="p_title">公司介绍</p>
					<p><%= simple_format(@company.introduction) %></p>
					<p><span class="icon fa-link icon_center"></span>
					<p class="p_title">产品介绍</p>
					<p><%= simple_format(@company.products) %></p>
					<p><span class="icon fa-link icon_center"></span>
					<p class="p_title">团队介绍</p>
					<p><%= simple_format(@company.team) %></p>
				</div>
				
				<!-- <p><%= @company.introduction %></p> -->
			
			</div>
			<div class="5u 12u(narrower) p_content">
				<div>
					<%= will_paginate @positions, previous_label: "上一页",
			next_label: "下一页" %>
					<div class="box box_padding position_aside">
						<% @positions.each do |position| %>
							<%= render 'positions/list_position', position: position %>
						<% end %>
					</div>
						<%= will_paginate @positions, previous_label: "上一页",
				next_label: "下一页" %>
				</div>
				<% if logged_in? %>
					<%= link_to "添加职位", new_company_position_path(@company), class: "button button_right" %>
				
				<% end %>
			</div>
		</div>
		
	</div>
	
	
</section>