<!DOCTYPE html>
<html>
	<head>
	  <title>Leads | <%= @tab_title %></title>
	  <meta name="baidu-site-verification" content="uSRmsFezLI" />
	  <meta name="360-site-verification" content="214ea937741458149e62adb64b07fe1d" />
	  <meta name="description" content="荔枝咨询">
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <%= favicon_link_tag 'favicon.ico' %>
	  <!--[if lte IE 8]><script src="html5shiv.js"></script><![endif]-->
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <script type='text/javascript' src='http://api.map.baidu.com/api?v=2.0&ak=fCbQrRfCxwoNGniE995RWGdu'></script>
	  <% sign_package = $weixin_client.get_jssign_package(request.url) %>
	<!-- 此处不是错误，"//" 为自适应HTTP/HTTPS头，无需添加HTTP/HTTPS。 -->
	  <%= javascript_include_tag '//res.wx.qq.com/open/js/jweixin-1.0.0.js' %>
	  <script>
	  wx.config({
	      debug: false,
	      appId: "<%= sign_package['appId'] %>",
	      timestamp: "<%= sign_package['timestamp'] %>",
	      nonceStr: "<%= sign_package['nonceStr'] %>",
	      signature: "<%= sign_package['signature'] %>",
	      jsApiList: [
	        'onMenuShareTimeline',
	        'onMenuShareAppMessage',
	        'onMenuShareQQ',
	        'onMenuShareWeibo',
	        'hideMenuItems',
	        'showMenuItems',
	        'hideAllNonBaseMenuItem',
	        'showAllNonBaseMenuItem',
	        'translateVoice',
	        'startRecord',
	        'stopRecord',
	        'onRecordEnd',
	        'playVoice',
	        'pauseVoice',
	        'stopVoice',
	        'uploadVoice',
	        'downloadVoice',
	        'chooseImage',
	        'previewImage',
	        'uploadImage',
	        'downloadImage',
	        'getNetworkType',
	        'openLocation',
	        'getLocation',
	        'hideOptionMenu',
	        'showOptionMenu',
	        'closeWindow',
	        'scanQRCode',
	        'chooseWXPay',
	        'openProductSpecificView',
	        'addCard',
	        'chooseCard',
	        'openCard'
	      ]
	    });
		wx.ready(function () {
		    // 5.2 图片预览
		    $('img').click(function () {
		      var img_src = $(this).prop("src");
		      wx.previewImage({
		        current: img_src,
		        urls: [img_src]
		      });
		    });
		  });
		  wx.error(function (res) {
		    // alert(res);
		  });
		
	  wx.error(function(res){

	      // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

	  });
	  </script>
	  <%= yield :weixin_api %>
	  <%= csrf_meta_tags %>

	</head>
	<!-- <body class= #{@body_class} > -->
		

	<%= content_tag :body, class: @body_class do %>
		<div id="page-wrapper">

			<%= render 'layouts/header' %>
			
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
			
			<%= yield %>

			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
			
		</div>
	<% end %>


	<script>
	(function($) {

		// skel.breakpoints({
// 			wide: '(max-width: 1680px)',
// 			normal: '(max-width: 1280px)',
// 			narrow: '(max-width: 980px)',
// 			narrower: '(max-width: 840px)',
// 			mobile: '(max-width: 736px)',
// 			mobilep: '(max-width: 480px)'
// 		});

		$(function() {

			var	$window = $(window),
				$body = $('body'),
				$header = $('#header'),
				$banner = $('#banner');

			// Fix: Placeholder polyfill.
				$('form').placeholder();

			// Prioritize "important" elements on narrower.
				skel.on('+narrower -narrower', function() {
					$.prioritize(
						'.important\\28 narrower\\29',
						skel.breakpoint('narrower').active
					);
				});

			// Dropdowns.
				$('#nav > ul').dropotron({
					alignment: 'right',
					expandMode: 'click'
				});
				// console.log($('#nav > ul'));

			// Off-Canvas Navigation.

				// Navigation Button.
					$(
						'<div id="navButton">' +
							'<a href="#navPanel" class="toggle"></a>' +
						'</div>'
					)
						.appendTo($body);

				// Navigation Panel.
					$(
						'<div id="navPanel">' +
							'<nav>' +
								$('#nav').navList() +
							'</nav>' +
						'</div>'
					)
						.appendTo($body)
						.panel({
							delay: 500,
							hideOnClick: true,
							hideOnSwipe: true,
							resetScroll: true,
							resetForms: true,
							side: 'left',
							target: $body,
							visibleClass: 'navPanel-visible'
						});

				// Fix: Remove navPanel transitions on WP<10 (poor/buggy performance).
					if (skel.vars.os == 'wp' && skel.vars.osVersion < 10)
						$('#navButton, #navPanel, #page-wrapper')
							.css('transition', 'none');

			// Header.
			// If the header is using "alt" styling and #banner is present, use scrollwatch
			// to revert it back to normal styling once the user scrolls past the banner.
			// Note: This is disabled on mobile devices.
				if (!skel.vars.mobile
				&&	$header.hasClass('alt')
				&&	$banner.length > 0) {

					$window.on('load', function() {

						$banner.scrollwatch({
							delay:		0,
							range:		0.5,
							anchor:		'top',
							on:			function() { $header.addClass('alt reveal'); },
							off:		function() { $header.removeClass('alt'); }
						});

					});

				}

		});

	})(jQuery);
	</script>
	<%= content_for :weixin_api do %>
	  <script type="text/javascript">
	    wx.ready(function () {
	      // 设置“分享给朋友”按钮点击状态及自定义分享内容
	      wx.onMenuShareAppMessage({
	        title: "<%= @share_title %>",
	        desc: "<%= @share_desc %>",
	        link: "<%= @share_url %>",
	        imgUrl: "<%= @share_img %>",
	      });
	      // 设置“分享到朋友圈”按钮点击状态及自定义分享内容
	      wx.onMenuShareTimeline({
	        title: "<%= @share_title %>",
	        link: "<%= @share_url %>",
	        imgUrl: "<%= @share_img %>",
	      });
	    });
	  </script>
	<% end %>
	<!-- </body> -->
</html>
